.button {
  width: 100px;
  display: block;
}

.nav-container {
  padding: 20px 0;
  ul {
    li {
      list-style: none;
      width: 100%;
      margin-bottom: 5px;
      a {
        padding: 20px 0;
        text-decoration: none;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
